.followContainer {
  display: flex;
  flex-direction: column;
}

.cardContainer {
  width: 200px;
  margin-bottom: 30px;
  height: fit-content;
  background-color: #12a1dd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 10px 8px lightblue;
  color: white;
}

.follow {
  display: block;
  width: fit-content;
  text-decoration: none;
  color: white;
}

.follow:hover {
  color: yellow;
  text-decoration: underline;
}
