nav {
  background-color: #12a1dd;
  height: 50px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 20px;
}

.fb {
  height: 30px;
  margin: 50px;
}

.active{
  color: yellow;
  text-decoration: none;
  margin-left: 70px;
}

.link {
  color: rgb(238, 238, 222);
  text-decoration: none;
  margin-left: 70px;
}

.link:hover {
  color: yellow;
  text-decoration: underline;
}

.logout {
  position: absolute;
  right: 80px;
}
