nav {
  background-color: #12a1dd;
  z-index: 1;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 70px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  font-size: 20px;
}

.fb {
  height: 30px;
  margin: 50px;
}

.active {
  color: yellow;
  text-decoration: none;
}

.link {
  color: rgb(238, 238, 222);
  text-decoration: none;
}

.link:hover {
  color: yellow;
  text-decoration: underline;
}

nav p {
  color: yellow;
  font-size: 14px;
  margin: 7px 0;
}

.logoutContainer{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}