.formWrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
}

textarea {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 10px 0;
  border-radius: 15px;
  padding: 10px;
}

.bottomRow{
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 25px;
  position: relative;
}

.submit{
  align-self: flex-end;
  position: absolute;
  right: 0;
}

.error{
  color: red;
  margin: 0;
}