.postContainer {
  position: relative;
  height: fit-content;
  width: 600px;
  background-color: #12a1dd;
  box-shadow: 10px 8px lightblue;
  color: white;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 10px 15px;
}

.postTime {
  font-size: 12px;
}

.poster {
  font-weight: bold;
}

.deletePost {
  position: absolute;
  right: 0;
  margin: 3px 10px 0 0;
}

.editPost {
  position: absolute;
  right: 70px;
  margin: 3px 0 0 0;
}

.title {
  margin-top: 10px;
}
