.block {
  display: block;
}

input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 250px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px;
  background-color: #FFFFFC;
  border: 2px solid #2f3061;
  color:#343434;
}

::placeholder {
  color: #343434
}