.connectionPageContainer {
  display: flex;
  flex-direction: column;
}

.cardContainer {
  width: 200px;
  margin-bottom: 30px;
  height: fit-content;
  background-color: #2F3061;
  box-shadow: 0 14px 50px -4px hsla(0,0%,0%,0.25);
  border-radius: 5px;
  padding: 10px;
  color: #FFFFFC;
}

.connection {
  display: block;
  width: fit-content;
  text-decoration: none;
  color: #FFFFFC;
}

.connection:hover {
  color: yellow;
  text-decoration: underline;
}
